mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  button[mat-button] {
    margin-left: 12px;
    font-weight: 600;
  }
  